[req]
distinguished_name = req_distinguished_name
req_extensions = v3_req

[req_distinguished_name]
countryName = VE
countryName_default = VE
stateOrProvinceName = Distrito Capital
stateOrProvinceName_default = Distrito Capital
localityName = Caracas
localityName_default = Caracas
organizationName = Consorcio Credicard C.A
organizationName_default = Consorcio Credicard C.A
organizationalUnitName	= Criptografia
organizationalUnitName_default	= Criptografia
commonName = is.credicard.com.ve
commonName_default = is.credicard.com.ve
commonName_max	= 64

[ v3_req ]
# Extensions to add to a certificate request
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName = @alt_names

[alt_names]
DNS.1 = srv-visprd01.credicard.com.ve
DNS.2 = srv-visprd02.credicard.com.ve
DNS.3 = srv-visprd01.mgmt.credicard.com.ve
DNS.4 = srv-visprd02.mgmt.credicard.com.ve
IP.1 = 10.124.2.42
IP.2 = 10.124.3.42
IP.3 = 10.124.2.43
IP.4 = 10.124.3.43