[req]
distinguished_name = req_distinguished_name
req_extensions = v3_req

[req_distinguished_name]
countryName = VE
countryName_default = VE
stateOrProvinceName = Distrito Capital
stateOrProvinceName_default = Distrito Capital
localityName = Caracas
localityName_default = Caracas
organizationName = Consorcio Credicard C.A
organizationName_default = Consorcio Credicard C.A
organizationalUnitName	= Criptografia
organizationalUnitName_default	= Criptografia
commonName = waf.credicard.com.ve
commonName_default = waf.credicard.com.ve
commonName_max	= 64

[ v3_req ]
# Extensions to add to a certificate request
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName = @alt_names

[alt_names]
DNS.1 = srv-vwaf01.credicard.com.ve
DNS.1 = srv-vwaf01.mgmt.credicard.com.ve
DNS.2 = srv-vwaf02.credicard.com.ve
DNS.2 = srv-vwaf02.mgmt.credicard.com.ve
IP.1 = 10.136.0.52
IP.2 = 10.124.3.28
IP.3 = 10.124.0.24
IP.4 = 10.136.0.63
IP.5 = 10.124.3.27
IP.6 = 10.124.0.23
IP.7 = 10.136.0.62